body {
    font-family: 'Arapey';
    font-size: 16px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 5px;
}

nav {
    margin-top: 100px;
    margin-left: 20%;
}

nav span {
    font-size: 40px;
    line-height: 50px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.61);
}

p {
    white-space: pre-wrap;
    line-height: 25px;
}

.box {
    width: 700px;
    height: 500px;
    margin-top: 50px;
    padding: 50px;
    overflow: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.329);
    border-radius: 30px;
}

.page {
    opacity: 0;
    padding-top: 30px;
}

.page:target {
    opacity: 1;
}